.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}