<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>DNA MATCHER</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>

    {% block specifika %}{% endblock specifika %}

    </body>
</html>
