{% extends "base.html" %}

{% block specifika %}

<h1>Welcome to DNA matcher!</h1>
<p>Enter DNA sequence below:</p>

<form action="/result" method="post">
    <textarea name="enter_dna" cols="90" rows="1"></textarea>
    <br>
    <button type="submit" class="button">GO!</button>
</form>

{% endblock specifika %}
