{% extends "base.html" %}

{% block specifika %}

<h1>RESULTS:</h1>

{% if result %}
    {% for key, item in result.items() %}
        <p>{{ key }}: {{ item }}</p>
    {% endfor %}
{% endif %}

<a href="/" class="button">TRY AGAIN?</a>

{% endblock specifika %}